@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

body {
    font-size: 14px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: normal;
    height: 100%;
    margin: 0;
}

.container {
    margin-left:0;
}

.main-body {
    margin-right: 25px;
    margin-left: 25px;
}

/**
TODO
 */

.SingleDatePicker .DateInput {
    width:40px;
}
